{% extends 'gview/base.html' %}
{% block title %}Owner List: {{ owner_list|length }}{% endblock title %}
{% block content %}
<form action="{% url 'gview:owner_vote_url' %}" method="post">
    {% csrf_token %}
    {% if error_message %}{{ error_message }}{% endif %}
    <legend><h1>Available owners:</h1></legend>
    <fieldset>
        {% for owner in owner_list|dictsortreversed:"score" %}
            <input type ="radio"  name="owner" id=owner{{ forloop.counter }} value="{{ owner.id }}">
                <label for={{ forloop.counter }}>
                    <h3><a href = {% url 'gview:owner_details_url' owner.id %}><b>{{ owner.score }} | {{ owner.name }}</b></a></h3>
                </label>
            </input>
        {% endfor %}
    </fieldset>
    <input type="submit", value="Vote">
</form>
{% endblock content %}